@page
@using Microsoft.Extensions.Localization
@using Goodnites.Payment.CoinbaseCommerce.Localization
@model Goodnites.Payment.CoinbaseCommerce.Web.Pages.CoinbaseCommerce.IndexModel
@inject IStringLocalizer<CoinbaseCommerceResource> L
@{
}
<h1>CoinbaseCommerce</h1>
<p>@L["SamplePageMessage"]</p>
